@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
	text-align: center;
	padding: 2% 5%;
}

.App * {
	box-sizing: border-box;
}

.top-bar-wrap {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.EventList {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0;
}

.EventList > li {
	padding: 1rem 2rem;
	min-width: 400px;
	max-width: 400px;
	margin: 0rem 0.2rem;
}

ul {
	padding-left: -40px;
}

li {
	list-style: none;
}

.NumberOfEvents {
	margin-bottom: 3.3rem;
}

.event {
}

.citySearch {
}

.city {
}
